@charset "UTF-8";
/* CSS Document */

/* general styling */
body {
	margin: 0;
}
a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}
.upcase {
	text-transform: uppercase;
}

/* top navigation menu*/

#top-nav {
	display: flex;
	justify-content: space-between;
	background-color: rgb(177, 177, 177)
}

#tab-nav {
	font-family: Lato;
	color: #ffffff;
	font-size: 0.75em;
	font-weight: 400;
}

#brand-nav {
	font-family: Verdana;
	color: #333333;
	font-size: 0.56em;
	font-weight: 400;
}

#brand-nav a {
	color: #333333;
}

#ship-to {
	font-family: Lato;
	color: #333333;
	font-size: 0.63em;
	font-weight: 400;
}

/* PBK logo, Welcome/My Account*/

#logo-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#pbk-logo {
	width: 346px;
	height: 51px;
}

#registry {
	width: 394px;
/*	height: 11px;*/
	font-family: CenturyGothic;
	color: #555555;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 2;
}

#search input {
	width: 184px;
	height: 31px;
}

#checkout {
	width: 100px;
	height: 31px;
	background-color: #990000;
	font-family: CenturyGothic;
	color: #ffffff;
	font-size: 0.75em;
	font-weight: 400;
}

#welcome {
	font-family: CenturyGothic;
	color: #666666;
	font-weight: 400;
	font-size: 0.63em;
}

#site-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	background-color: #555555;
}

#site-nav nav {
	display: flex;
	justify-content: space-between;
}

#site-nav a {
	font-family: CenturyGothic;
	color: #ffffff;
	font-size: 0.96em;
	font-weight: 400;
	line-height: 1.556;
	transform: scale(0.843,0.843);
}

#promos {
	width: 100%;
	height: 48px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#promos a {
	font-family: AvenirNext;
	color: #555555;
	font-size: 0.79em;
	font-weight: 400;
	line-height: 1.154;
	transform: scale(1.001,1.027);
}


.background-img {
	max-width: 100%;
	max-height: auto;
}

.video-placeholder {
	width: 575px;
	height: 396px;
}

h2 {
	font-family: CenturyGothic;
	color: #052e5c;
	font-size: 2.64em;
	font-weight: 700;
	font-style: italic;
	line-height: 0.851;
	transform: scale(1.064,1.064);
}

p {
	font-family: CenturyGothic;
	color: #052e5c;
	font-size: 1.25em;
	line-height: 1.3;
	font-weight: 400;
	font-style: italic;
	text-align: center;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section button {
	background-color: navy;
	color: white;
	height: 40px;
	width: 200px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* hero */

#hero {
	margin-bottom: -1300px;
}

#hero .container {
	z-index: 10;
	position: absolute;
	top: 275px;
}

#hero-img {
	z-index: 0;
}

#sw-logo {
	width: 364px;
	height: 208px;
}


#hero p {
	width: 31%;
}

#closer-look, #pbteen {
	background-image: url(../assets/Rectangle.png)
}

.slider img {
	width: 990px;
	height: 617px;
}

.slider-controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.slider-controls p {
	width: 50%;
}

footer {
	margin-top: -109px;
}
