@charset "UTF-8";
/* CSS Document */

/* general styling */
body {
	margin: 0;
}
a {
	text-decoration: none
}
.upcase {
	text-transform: uppercase;
}

/* top navigation menu*/

#top-nav {
	display: flex;
	justify-content: space-between;
	background-color: rgb(102, 102, 102)
}

#tab-nav {
	font-family: Lato;
	color: #ffffff;
	font-size: 0.75em;
	font-weight: 400;
}

#brand-nav {
	font-family: Verdana;
	color: #333333;
	font-size: 0.56em;
	font-weight: 400;
}

#ship-to {
	font-family: Lato;
	color: #333333;
	font-size: 0.63em;
	font-weight: 400;
}

/* PBK logo, Welcome/My Account*/

#logo-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#pbk-logo {
	width: 346px;
	height: 51px;
}

#registry {
	width: 394px;
/*	height: 11px;*/
	font-family: CenturyGothic;
	color: #555555;
	font-size: 0.75em;
	font-weight: 400;
	line-height: 2;
}

#search input {
	width: 184px;
	height: 31px;
}

#checkout {
	width: 100px;
	height: 31px;
	background-color: #990000;
	font-family: CenturyGothic;
	color: #ffffff;
	font-size: 0.75em;
	font-weight: 400;
}

#welcome {
	font-family: CenturyGothic;
	color: #666666;
	font-weight: 400;
	font-size: 0.63em;
}

#site-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	background-color: #555555;
}

#site-nav nav {
	display: flex;
	justify-content: space-between
}

#site-nav a {
	font-family: CenturyGothic;
	color: #ffffff;
	font-size: 0.96em;
	font-weight: 400;
	line-height: 1.556;
	transform: scale(0.843,0.843);
}

#promos {
	width: 100%;
	height: 48px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#promos a {
	font-family: AvenirNext;
	color: #555555;
	font-size: 0.79em;
	font-weight: 400;
	line-height: 1.154;
	transform: scale(1.001,1.027);
}

#hero img {
	width: 100%;
	height: auto;
}
